@font-face {
    font-family:"league";
    src: url("./assets/fonts/league/League.otf");
}
.Navbar{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    width:100%;
    color:white;
    padding-top:34px;
    padding-bottom:22px;
}


.logo-nav{
    cursor: pointer;
    font-family:"league";
    font-size:1.3em;
}

.btn-group{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}